<div class="col main h-100" style="padding:20px">
    <div class="row mb-3">
        <div class="col col-sm-6 py-2">
            <div class="card bg-success text-white h-100">
                <div class="card-body bg-sucess">
                    <div class="rotate">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <div class="row">
                        <div class="col col-9">
                            <h6 class="text-uppercase">Films</h6>
                            <h1 class="display-4">{{filmsCount}}</h1>
                        </div>
                        <div class="col col-3">
                            <a class="btn btn-lg bg-danger text-white" (click)="clickFilms()" role="button">{{'dashboard.MOREFILM' |
                                translate}}</a>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
        <div class="col col-sm-6 py-2">
            <div class="card bg-success text-white h-100">
                <div class="card-body bg-success">
                    <div class="rotate">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <div class="row">
                        <div class="col col-9">
                            <h6 class="text-uppercase">{{'director.DIRECTOR' | translate}}</h6>
                            <h1 class="display-4">{{realsCount}}</h1>
                        </div>
                        <div class="col col-3">
                            <a class="btn btn-lg bg-danger text-white" (click)="clickDirectors()" role="button">{{'dashboard.MOREDIR' |
                                translate}}</a>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>