<main role="main">
    <div class="col-md-12">
        <div class="row">
            <div class="col col-12" style="padding: 20px;">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11">
                                <h3 class="">{{director.firstName}} {{director.lastName}}</h3>
                            </div>
                            <div class="col-1 pr-3">
                                <button type=button class="btn btn-danger" (click)="deleteDirector()">{{'films-detail.DELETE' | translate}}</button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{'director.DATE' | translate}} : {{director.date}}</li>
                        <li class="list-group-item btn" (click)="showFilms()">FILMS (click to see)
                            <div class=" bs-content table-responsive" *ngIf="show === true ">
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">{{'films.TITLE' | translate}}</th>
                                            <th scope="col">{{'films-detail.DUR' | translate}} (min)</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let film of films">
                                        <tr class="table pointer">
                                            <td>{{film.id}}</td>
                                            <td>{{film.titre}}</td>
                                            <td>{{film.duration}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </li>
                    </ul>                    
                    
                    <div class="col col-12" style="padding: 20px;">
                        <div *ngIf="updateForm.submitted" class="alert alert-info">
                            Form submitted
                        </div>
                        <form #updateForm="ngForm" (ngSubmit)="processUpdateForm(updateForm)">
                            <fieldset>
                                <legend>{{'films-detail.UPDATE' | translate}}</legend>
                                <div class="form-group row">
                                    <div class="col col-sm-6">
                                        <label for="firstName" class="col-sm-4 col-form-label">{{'director.FIRSTNAME' |
                                            translate}}*</label>
                                        <input id="firstName" type="text" name="firstName*" class="form-control"
                                            placeholder="Enter First Name" #posterPrenom="ngModel" ngModel required>
                                    </div>
                                    <div class="col-sm-6">

                                        <label for="lastName" class="col-sm-4 col-form-label">{{'director.LASTNAME' |
                                            translate}}*</label>
                                        <input id="lastName" type="text" placeholder="Entrer Last Name" name="lastName"
                                            class="form-control" #posterNom="ngModel" ngModel required>
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col  col-12">
                                        <label for="date" class="col-sm-8 col-form-label">{{'director.DATE' |
                                            translate}}*</label>
                                        <input id="date" type="date" class="form-control" name="date"
                                            #posterDate="ngModel" ngModel required>
                                    </div>

                                </div>
                                <div class="btn btn-group">
                                    <button class="btn btn-success" [disabled]="updateForm.invalid" type="submit"> {{'films-detail.UPDATE' | translate}}</button>
                                    <button class="btn btn-warning" type="reset"> {{'director.form.CANCEL'|translate}}</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
